.movie__info {
  width: 65%;
  padding-right: 1rem;
  align-self: flex-start;
  margin-top: 1rem;
}

.movie__info > div {
  text-align: start;
}

.movie__genre > span {
  font-size: 12;
  font-weight: 400;
  color: #000000a6;
  padding: 2px 5px;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-right: 8px;
}

.movie__genre > span:last-child {
  margin-right: 0;
}

.movie__rate {
  position: absolute;
  bottom: 0;
  height: 46px;
}

.movie__rate > li > div {
  font-size: 18px;
}
